@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2 class="ui header">@ViewData["Title"]</h2>
<p>
    For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>

@*<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="ui large form validate-me" role="form">
    <div class="ui stacked segment">
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input asp-for="Email" placeholder="Enter your email address"/>
            </div>
        </div>
        <input type="submit" class="ui large blue submit button" value="Submit"/>
        <div asp-validation-summary="ValidationSummary.All" class="ui error message"></div>

    </div>

</form>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
